.about {
  display: flex;
  gap: 10px;
}

.column {
  flex-basis: 50%; /* Divide the container width by the number of columns */
  /* background-color: #f2f2f2; Optional: for visual representation */
  padding: 20px; /* Optional: for some inner space in the columns */
  box-sizing: border-box;
  height: 250px;
}

.nested-container {
  display: flex;
  gap: 10px;
}

.nested-column {
  /* padding: 10px; */
  box-sizing: border-box;
  /* margin-bottom: 10px; */
  height: 250px;
}

.nested-column img {
  /* max-width: 100%; Ensures that images do not overflow the column */
  max-height: 100%;
  width: auto;
}

.image-wrapper {
  text-align: right;
}

.button-wrapper {
  text-align: center;
}