/* Style for the code block container */
.terminal-block {
    /* display: block; */
    background-color: #000; /* Background color (black) */
    text-align: left;
    padding-left: 10px;
    /* color: #00ff00; Text color (green) */
    font-family: Monaco, monospace; /* Monospace font for code */
    /* padding: 10px; Padding around the code block */
    border: 1px solid #ccc; /* Border with a light gray color */
    border-radius: 5px; /* Rounded corners */
    overflow: auto; 
    white-space: no-wrap;
  }
  
  /* Style for the code itself */
  .terminal-block .command {
    display: inline;
    /* padding: 10px; Padding for code lines */
    color: #00ccbb; /* Prompt color (yellow) */
    white-space: no-wrap; /* Preserve line breaks and white spaces */
  }
  
  /* Style for terminal prompt (optional) */
  .terminal-block .prompt {
    display: inline;
    color: #ffffff;; /* Prompt color (yellow) */
    /* margin-right: -10px; */
  }
  
  /* Style for terminal output (optional) */
  .terminal-block .output {
    color: #ffffff; /* Output color (white) */
    white-space: no-wrap;
  }