<!DOCTYPE HTML>
<nav id="nav">
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="index.html#banner">Portfolio</a>
            <ul>
                <li><a href="sat_gnc.html">Satellite Attitude Control</a></li>
                <li><a href="#">Bionic Leg Controller</a></li>
                <li><a href="#">3 DoF Instrumented Gimbal</a></li>
                <li><a href="#">Mechatronic Ankle Showcase</a></li>
            </ul>
        </li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>